<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>951758664315-qmuopgq8v0d9rdpessl8i5f2arcrqodh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951758664315-qmuopgq8v0d9rdpessl8i5f2arcrqodh</string>
	<key>API_KEY</key>
	<string>AIzaSyBYp4zf6haLyfIH4vNdkkobO0b9KVPQ6nc</string>
	<key>GCM_SENDER_ID</key>
	<string>951758664315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hotcourses.group.wuapp.s12</string>
	<key>PROJECT_ID</key>
	<string>test-firebase-analytics-3ee42</string>
	<key>STORAGE_BUCKET</key>
	<string>test-firebase-analytics-3ee42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951758664315:ios:8ebb5d4866a7c4e4</string>
	<key>DATABASE_URL</key>
	<string>https://test-firebase-analytics-3ee42.firebaseio.com</string>
</dict>
</plist>
